nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 10px;

  padding: 5px 10px;
}
nav li:hover {
  background-color: rgb(238, 255, 0);
}
nav ul a {
  text-decoration: none;
  color: rgb(32, 30, 29);
  font-size: 25px;
}
nav > ul > li:hover > ul {
  display: block;
}
.dropdown {
  display: none;
  position: absolute;
  background-color: coral;
  padding: 0;
}
.dropdown li {
  padding: 0 10px;
  margin: 0;
}
